@page "/"

@attribute [Authorize]

    <div class="container">
        <div class="row text-center">
            <div class="middle-box">
                <RadzenCard>
                    <RadzenContent>
                        <RadzenHeading Text="Welcome to Planner App" />
                    </RadzenContent>
                </RadzenCard>
            </div>
            
        </div>

    </div>





